:root{
    --p1: #212121;
    --p2: #2d2d2d;
    --p3: #444444;
    --p4: #676666;
    --p5: #808080;

    --s1: #75ff75;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--p1);
    color: #ffffff;
    #divBody{
        max-width: 1440px;
        margin: auto;
    }
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

main{
    #divMain{
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    padding: 5px;
    /* Periodo de concentracao */
    .boxSections{
        h2{
            margin: 0;
        }

        border-radius: 15px;
        margin: 10px;
        border: 1px solid var(--p3);
        padding: 10px;
        background-color: var(--p2);
    }

    #sectionFocus{
        flex: 1;
        flex-basis: 300px;
        flex-shrink: 300px;
        #divTimerFocus{
            display: flex;
            justify-content: center;

            #inTimerFocus{
                width: 100px;
                height: 100px;
                border-radius: 15px;
                background-color: var(--p5);
                text-align: center;
                font-size: 40px;
                position: relative;
                align-items: center;
                justify-content: center;

                .buttonsTimer{
                    position: absolute;
                    bottom: 0;
                    height: 20px;
                    width: 48px;
                    background-color: var(--p4);
                    border: 1px solid var(--p1);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    transition: .1s;
                }
                .buttonsTimer:active{
                    background-color: black;
                    color: var(--s1);
                }

                #btLeft{
                    border-radius: 0px 0px 0px 15px;
                    
                }

                #btRight{
                    border-radius: 0px 0px 15px 0px;
                    right: 0;
                }

                }
            }
            #btFocus{
                width: 100%;
                margin-top: 10px;
                border-radius: 5px;
                padding: 5px;
                background-color: var(--s1);
                transition: .4s;
            }
            
            #btFocus:hover{
                background-color: #017474;
                color: white;
                
            }
    }
    /* Metas Diarias */
    #sectionGoal{
        flex: 1;
        flex-basis: 300px;
    }
    /* Tarefas */
    #sectionTasks{
        flex-basis: 300px;
    }
}

/* Footer */
footer{
    text-align: center;
}