@charset "UTF-8";

:root{
    --cor0: #00CC73;
    --cor1: #008C4F;
    --cor2: #7DE5B0;
    --cor3: #E0FFDE;
    --cor4: #F5F09E;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    width: 90%;
}

/* --------------------header------------------------ */

header {
    padding: 0px 5px;
}

header img {
    max-width: 30px;
    min-width: 10px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 50%;
}

header > nav > .barra_pesquisa {
    border: none;
    padding: 5px;
    
}

header img:hover {
    background-color: gray;
    transition: 0.2s;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

header > nav > img {

}

header > nav > .alert {
    
}

header .saldo {
    background-color: var(--cor0);
    height: 25%;
    border-radius: 15px;
    padding: 5px 10px;
}